#Токен
JWT_KEY=key
JWT_EXPIRATION=time

#Постгрес
POSTGRES_DB=db_name
POSTGRES_USER=user
POSTGRES_PASSWORD=password

#Сервер
URL=url
USERNAME=user
PASSWORD=password

#Спринг
SPRING_PROFILES_ACTIVE=profile
SPRING_DATASOURCE_URL=url
SPRING_DATASOURCE_USERNAME=user
SPRING_DATASOURCE_PASSWORD=password